*, ::after, ::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: white;
    font-family: 'Calibri';
}

h1 {
    margin-top: 20px;
    text-align: center;
    font-size: 2.6em;
    color: aqua;
}

.calc-container {
    display: flex;
    flex-direction: column;
    height: 80vh;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 329px;
    transition: all 2s ease-in-out;
}

.display {
    width: 100%;
    height: 10vh;
    text-align: right;
    word-wrap: break-word;
    word-break: break-all;
    color: #000;
    border-radius: 15px;
    background-color: rgb(255, 237, 237);
}

.previousNumber {
    font-size: 19px;
    color: #000;
    margin-right: 10px;
}

.mathSign {
    font-size: 19px;
    color: #000;
    margin-right: 10px;
}

.currentNumber {
    font-size: 30px;
    text-align: right;
    bottom: 0;
    margin-right: 10px;
    color: rgb(255, 0, 0);
}

.numberButtons {
    display: grid;
    justify-content: center;
    padding: 3px;
    gap: 3px;
    grid-template-columns: repeat(4, 80px);
    grid-template-rows: repeat(6, 80px);
}

.number-btn, .operator, .clear, .equals, .del {
    padding: 20px;
    font-size: 1.5em;
    border-radius: 15px;
}

.number-btn, .operator, .clear, .equals, .del:hover {
    transition: all 1s ease-in-out;
    background-color: #fffffe;
    cursor: pointer;
}   

.col2 {
    grid-column: span 2;
}



